<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="salesforce-community" content="https://iberiaidentitylabs.force.com/customers">
    <meta name="salesforce-mode" content="inline-callback">
    <meta name="salesforce-save-access-token" content="true">
    <meta name="salesforce-allowed-domains" content="pref.iberia.es">
    <script src="https://iberiaidentitylabs.force.com/customers/servlet/servlet.loginwidgetcontroller?type=javascript_widget&min=false" async defer></script>
</head> 
<body></body>    
</html>